* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

body h1 {
  width: 60rem;
  border: 2px solid purple;
  text-align: right;
  margin-top: 20px;
}

.header {
  height: 10rem;
  width: 60rem;
  background-color: rgb(138, 102, 43);
  position: relative;
  border-radius: 10px;
  border: 2px solid green;
}

.icon {
  height: 20vh;
  width: 10vw;
  position: absolute;
  top: 90px;
  left: 50px;
  border-radius: 10px;
}
